<div class="footer">
    <div class="footer-up">
        <div class="link">
            <span>Links</span>
            <div class="icons">
            <a href="#"><i class='bx bxl-instagram' style="color: #bc2a8d ;"></i></a>
            <a href="#"><i class='bx bxl-facebook-circle' style="color: #4267B2;"></i></a>
            <a href="#"><i class='bx bxl-twitter' style="color: #1DA1F2;"></i></a>
            </div>
        </div>
        <div class="sections">
            <span>Sections</span>
            <a href="#">Men</a>
            <a href="#">Women</a>
            <a href="#">Kids</a>
            <a href="#">Unisex</a>
        </div>
        <div class="contact">
            <a href="#" id="co">Contact</a>
            <a href="#" class="ts">Terms Of Service</a>
        </div>
        <div class="about-us">
            <span class="about">About Us</span>
            <span class="para">KicksCrafters is an online platform dedicated to the buying, selling, and showcasing of sneakers, which are a popular and fashionable type of athletic footwear. </span>
        </div>
    </div>
    <div class="footer-down">
        <span>© 2023 KicksCrafters, Inc</span>
    </div>
</div>
</div>
</body>
</html>