<%- include('partials/header.ejs') %>
    <!-- <div class="Air-Jordan" style="background: url(finally.avif) no-repeat;  background-size: cover;">
            <span class="snea">Snea.</span>
            <Span class="new">NEW CONCEPT FOR SUMMER</Span>
            <span class="new2">PORSCHE</span>
            <span class="ker">ker</span>
    </div> -->

    <div class="new-snea">
        <img class="sneake" src="Captures.jpg" alt="snea">
    </div>


    <div class="featured-product">
        <span class="head">SNEAKER</span>
        <div class="fp">
            <span class="fe">featured</span>
            <span class="pr">PRODUCTS</span>
        </div>
    </div>
   
    <div class="four-products">
        <form action="/card1" method="post">
            <div class="one" class="common">
                <img src="1.jpg" alt="sne1" height="200px" width="200px">
                <span>White Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bx-star'></i>
                </div>
                <span>$14.42</span>
                <button type="submit" id="show">Shop Now</button>
            </div>
        </form>
        <form action="/card2" method="post">
            <div class="two" class="common">
                <img src="8.jpg" alt="sne1" height="200px" width="200px">
                <span>Blow Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                    <i class='bx bx-star'></i>
                </div>
                <span>$10.13</span>
                <button type="submit" id="show">Shop Now</button>
            </div>
        </form>
        <form action="/card3" method="post">
            <div class="three" class="common">
                <img src="3.jpg" alt="sne1" height="200px" width="200px">
                <span>Porsche Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                </div>
                <span>$8.42</span>
                <button type="submit" id="show">Shop Now</button>
            </div>
        </form>
        <form action="/card4" method="post">
            <div class="four" class="common">
                <img src="11.jpg" alt="sne1" height="200px" width="200px">
                <span>Air Hurache Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <span>$11.52</span>
                <button type="submit" id="show">Shop Now</button>
            </div>
        </div>
    
        </form>
    <div class="featured-product">
        <span class="head">PRODUCT</span>
        <div class="fp">
            <span class="fe">best seller</span>
            <span class="pr">PRODUCTS</span>
        </div>
    </div>

    <div class="best-seller">
            <div class="five" class="common">
                <img src="5.jpg" alt="sne1" height="450px" width="450px" style="padding-top:60px;">
                <span>Yezzy Style Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <span>$14.82</span>
                <form action="/card5" method="post">
                <button type="submit" id="show-big">Shop Now</button>
               </form>
            </div>
            <div class="six" class="common">
                <img src="6.jpg" alt="sne1" height="200px" width="200px">
                <span>Ninja Style Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <span>$13.48</span>
                <form action="/card6" method="post">
                <button type="submit" id="show">Shop Now</button>
                 </form>
            </div>
            <div class="seven" class="common">
                <img src="7.jpg" alt="sne1" height="200px" width="200px">
                <span>Creative Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <span>$12.69</span>
                <form action="/card7" method="post">
                <button type="submit" id="show">Shop Now</button>
            </form>
            </div>
            <div class="eigth" class="common">
                <img src="2.jpg" alt="sne1" height="200px" width="200px">
                <span>Black Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <span>$13.52</span>
                <form action="/card8" method="post">
                <button type="submit" id="show">Shop Now</button>
                </form>    
            </div>
            <div class="nine" class="common">
                <img src="9.jpg" alt="sne1" height="200px" width="200px">
                <span>Apuzzle Sneaker</span>
                <div class="rating">
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star-half' ></i>
                </div>
                <span>$12.79</span>
                <form action="/card9" method="post">
                <button type="submit" id="show">Shop Now</button>
               </form>
            </div>
    </div>
    <script>
        var count=0;
        document.getElementById("menu").addEventListener("click",function(){        
                 document.getElementById("snf").style.display="flex";  
        })
        document.getElementById("ci").addEventListener("click",function(){
            document.getElementById("snf").style.display="none";
        })
    </script>
    <%- include('partials/footer.ejs') %>
