<%- include('partials/header.ejs') %>
<div class="ma">
    <div class="image-slider">
        <div class="slide active">
            <img class="im1" src="k2s.webp" alt="1" height="500px" width="800px">
        </div>
        <div class="slide">
            <img class="im1" src="k1s.jpg" alt="1"  height="500px" width="800px">
        </div>
        <div class="slide">
            <img class="im1" src="k3s.png" alt="1"   height="500px" width="800px">
        </div>
        <div class="slide">
            <img class="im1" src="k4s.jpg" alt="1"  height="500px" width="800px">
        </div>
        <div class="navigation">
            <div class="btn active"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
        </div>
    </div>
</div>

<div class="featured-product">
    <span class="head">SNEAKER</span>
    <div class="fp">
        <span class="fe">Top picks</span>
        <span class="pr">KIDS</span>
    </div>
</div>

<div class="four-products">
    <div class="one" class="common">
        <img src="k1.jpg" alt="sne1" height="200px" width="200px">
        <span>Knee-Hi</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$10.13</span>
        <form action="/card31" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="two" class="common">
        <img src="k2.jpg" alt="sne1" height="200px" width="200px">
        <span>STRUT Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$11.23</span>
        <form action="/card32" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="three" class="common">
        <img src="k3.jpg" alt="sne1" height="200px" width="200px">
        <span>Turn Heads</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$12.62</span>
        <form action="/card33" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="four" class="common">
        <img src="k4.jpg" alt="sne1" height="200px" width="200px">
        <span>Catwalk Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        <span>$11.52</span>
        <form action="/card34" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
</div>
<div class="featured-product">
    <span class="head">SNEAKER</span>
    <div class="fp">
        <span class="fe">Featured Products</span>
        <span class="pr">KIDS</span>
    </div>
</div>
<div class="four-products">
    <div class="one" class="common">
        <img src="k5.jpg" alt="sne1" height="200px" width="200px">
        <span>Stiletto Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$8.42</span>
        <form action="/card35" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="two" class="common">
        <img src="k6.jpg" alt="sne1" height="200px" width="200px">
        <span>Solina Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$12.03</span>
        <form action="/card36" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="three" class="common">
        <img src="k7.jpg" alt="sne1" height="200px" width="200px">
        <span>Bset Kept Secret</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$9.15</span>
        <form action="/card37" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="four" class="common">
        <img src="k10.jpg" alt="sne1" height="200px" width="200px">
        <span>Trekist Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        <span>$13.02</span>
        <form action="/card38" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
</div>
<div class="four-products" style="margin-bottom: 10px;">
    <div class="one" class="common">
        <img src="k9.jpg" alt="sne1" height="200px" width="200px">
        <span>Whitee Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$14.42</span>
        <form action="/card39" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="two" class="common">
        <img src="k8.jpg" alt="sne1" height="200px" width="200px">
        <span>Nn Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$10.13</span>
        <form action="/card40" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="three" class="common">
        <img src="k11.jpg" alt="sne1" height="200px" width="200px">
        <span>Nike Kid Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$7.92</span>
        <form action="/card41" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
    <div class="four" class="common">
        <img src="k12.jpg" alt="sne1" height="200px" width="200px">
        <span>Air Hurache Sneakers</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        <span>$11.52</span>
        <form action="/card42" method="post">
            <button type="submit" id="show">Shop Now</button>
        </form>
    </div>
</div>

<script>
   var slides=document.querySelectorAll(".slide");
        var btns=document.querySelectorAll(".btn");

        function manualfunc(manual){
            slides.forEach((x)=>{
                x.classList.remove("active");
            })
            btns.forEach((x)=>{
                x.classList.remove("active");
            })

            slides[manual].classList.add("active");
            btns[manual].classList.add("active");
        }
         
        var i=0;

        btns.forEach((btn,i)=>{
            btn.addEventListener("click",()=>{
                manualfunc(i);
            })
        })
        setInterval(()=>{
            slides.forEach((x)=>{
                x.classList.remove("active");
            })
            btns.forEach((x)=>{
                x.classList.remove("active");
            })
            slides[i].classList.add("active");
            btns[i].classList.add("active");
            i++;
            if(slides.length==i){
                i=0;
            }
        },3000)
</script>

<%- include('partials/footer.ejs') %>