<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link rel="stylesheet" href="styles/log.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="login">
        <div class="main-card">
            <div class="Title">
                <span class="text">Login Form</span>
            </div>
            
            <form action="/sunmit" method="post">
                <div class="input">
                    <input type="text" name="email" placeholder="User-name" autocomplete="off">
                    <i class='bx bxs-user'></i>
                    <input type="password" name="pass" placeholder="Password">
                    <i class='bx bxs-lock-alt' ></i>
                </div>

                <div class="notice">
                    <span><%=  notice %></span>
                </div>
    
                <div class="password">
                    <div class="Remember_me">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </div>
                    <a href="#" class="Forgot_pass">Forgot Password?</a>
                </div>
    
                <div class="login-btn">
                    <button class="log" type="submit">Login</button>
                </div>
    
            </form>
           
            <div class="not_mem">
                <span>Not a member?</span>
                <a href="/signup">Signup now</a>
            </div>
           
        </div>
    </div>
      
    
</body>
</html>