<%- include('partials/header.ejs') %>
<div class="ma">
    <div class="image-slider">
        <div class="slide active">
            <img class="im1" src="w2s.jpg" alt="1" height="500px" width="800px">
        </div>
        <div class="slide">
            <img class="im1" src="w7s.jpg" alt="1"  height="500px" width="800px">
        </div>
        <div class="slide">
            <img class="im1" src="w4s.webp" alt="1"   height="500px" width="800px">
        </div>
        <div class="slide">
            <img class="im1" src="w6s.jpeg" alt="1"  height="500px" width="800px">
        </div>
        <div class="navigation">
            <div class="btn active"></div>
            <div class="btn"></div>
            <div class="btn"></div>
            <div class="btn"></div>
        </div>
    </div>
</div>
<div class="featured-product">
    <span class="head">SNEAKER</span>
    <div class="fp">
        <span class="fe">Top picks</span>
        <span class="pr">WOMEN</span>
    </div>
</div>

<div class="four-products">
    <div class="one" class="common">
        <img src="w6.jpg" alt="sne1" height="200px" width="200px">
        <span>Pink Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$12.42</span>
        <form action="/card18" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="two" class="common">
        <img src="w7.jpg" alt="sne1" height="200px" width="200px">
        <span>Reebok Super Conect</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$11.13</span>
        <form action="/card19" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="three" class="common">
        <img src="w13.jpg" alt="sne1" height="200px" width="200px">
        <span>Baba bucci</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$9.42</span>
        <form action="/card20" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="four" class="common">
        <img src="w11.jpg" alt="sne1" height="200px" width="200px">
        <span>Nike Women WMNS</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        <span>$11.52</span>
        <form action="/card21" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
</div>
<div class="featured-product">
    <span class="head">SNEAKER</span>
    <div class="fp">
        <span class="fe">Featured Products</span>
        <span class="pr">WOMEN</span>
    </div>
</div>
<div class="four-products">
    <div class="one" class="common">
        <img src="w14.jpg" alt="sne1" height="200px" width="200px">
        <span>Puma Women Smashic</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$13.13</span>
        <form action="/card22" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="two" class="common">
        <img src="w8.jpg" alt="sne1" height="200px" width="200px">
        <span>Blow Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$11.29</span>
        <form action="/card23" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="three" class="common">
        <img src="w9.jpg" alt="sne1" height="200px" width="200px">
        <span>Skechers Sneakers</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$9.69</span>
        <form action="/card24" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="four" class="common">
        <img src="w10.jpg" alt="sne1" height="200px" width="200px">
        <span>Campus Women MATTY</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        <span>$11.52</span>
        <form action="/card25" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
</div>
<div class="four-products" style="margin-bottom: 10px;">
    <div class="one" class="common">
        <img src="w12.jpg" alt="sne1" height="200px" width="200px">
        <span>Chuck Taylor</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$13.42</span>
        <form action="/card26" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="two" class="common">
        <img src="w15.jpg" alt="sne1" height="200px" width="200px">
        <span>Hightop Basketball</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$12.13</span>
        <form action="/card27" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="three" class="common">
        <img src="w16.jpg" alt="sne1" height="200px" width="200px">
        <span>Cross Trainers</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-star'></i>
        </div>
        <span>$10.42</span>
        <form action="/card28" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
    <div class="four" class="common">
        <img src="w17.jpg" alt="sne1" height="200px" width="200px">
        <span>Cleats Sneaker</span>
        <div class="rating">
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star' ></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        <span>$8.52</span>
        <form action="/card29" method="post">
            <button type="submit" id="show">Shop Now</button>
           </form>
    </div>
</div>

<script>
     var slides=document.querySelectorAll(".slide");
        var btns=document.querySelectorAll(".btn");

        function manualfunc(manual){
            slides.forEach((x)=>{
                x.classList.remove("active");
            })
            btns.forEach((x)=>{
                x.classList.remove("active");
            })

            slides[manual].classList.add("active");
            btns[manual].classList.add("active");
        }
         
        var i=0;

        btns.forEach((btn,i)=>{
            btn.addEventListener("click",()=>{
                manualfunc(i);
            })
        })
        setInterval(()=>{
            slides.forEach((x)=>{
                x.classList.remove("active");
            })
            btns.forEach((x)=>{
                x.classList.remove("active");
            })
            slides[i].classList.add("active");
            btns[i].classList.add("active");
            i++;
            if(slides.length==i){
                i=0;
            }
        },3000)
</script>

<%- include('partials/footer.ejs') %>